Incorrect SignedCertificateTimestamp encoding/decoding

Good job, Fotis!

But your decoding/encoding of `SignedCertificateTimestamp` is not precisely correct. Your problem that you missed just one detail in documentation.

So, definition of the `SignedCertificateTimestamp` class looks like:
```text
struct {
	Version sct_version;
	LogID id;
	uint64 timestamp;
	CtExtensions extensions;
	digitally-signed struct {
		Version sct_version;
		SignatureType signature_type = certificate_timestamp;
		uint64 timestamp;
		LogEntryType entry_type;
		select(entry_type) {
			case x509_entry: ASN.1Cert;
			case precert_entry: PreCert;
		} signed_entry;
		CtExtensions extensions;
	};
} SignedCertificateTimestamp;
```
And in fact you decoded almost all from the data. Except that you missed that `digitally-signed` is itself a pre-defined type:
```text
struct {
   SignatureAndHashAlgorithm algorithm;
   opaque signature<0..2^16-1>;
} DigitallySigned;
```
And the `SignatureAndHashAlgorithm` has this definition:
```text
enum {
    none(0), md5(1), sha1(2), sha224(3), sha256(4), sha384(5),
    sha512(6), (255)
} HashAlgorithm;

enum { anonymous(0), rsa(1), dsa(2), ecdsa(3), (255) }
  SignatureAlgorithm;

struct {
      HashAlgorithm hash;
      SignatureAlgorithm signature;
} SignatureAndHashAlgorithm;
```
And when you decode signature like this:
```javascript
const signature = sctBinView.slice(43 + extLen).buffer;
```
then you loose information about `hashAlgorithm`, `signatureAlgorithm` and correct `signatureLength` - all these would be in your incorrect block for signature.

For the further reading I do recommend you [**this link**](https://letsencrypt.org/2018/04/04/sct-encoding.html).

Also I want to say that recently I append to PKIjs support for decoding/encoding the `SignedCertificateTimestamp` class - check it [**here**](https://github.com/PeculiarVentures/PKI.js/blob/master/src/SignedCertificateTimestampList.js). There is no `verify` function there, but probably I would implement it soon.

The version is 1 byte, the id is 32 bytes, the timestamp is 8 bytes, the extensions are 2 bytes for the extension length (extLen) plus extLen bytes, giving us a total of 1+32+8+2+extLen = 43 + extLen bytes. I fetch from 43 + extLen till the end. What am I missing?

Please note that the signature in the SignedCertificateTimestamp class is not the signature in the DigitallySigned struct, but the whole struct. That is why verify() at line 194 of SignedCertificateTimestamp.js uses signatureView[1] to decide on the algorithm used  (SignatureAlgorithm in DigitallySigned struct) and later on the signature that is verified is this.signature.slice(4) (lines 241 and 245 of SignedCertificateTimestamp.js).

It is up to you what to decide. You correctly verify signature just because of these “slice(4)” - the 4 bytes you missed is the data you physically ignore in the signature: hash algorithm, signature algorithm and two bytes of signature length. And I do recommend you to give to user this info - it could be important in some cases.

Ok, so this is a feature request to expose these fields and not a problem in the encoding/decoding, right?

I can make a method that will return the signature algorithm from the signature (hash is always sha256), but I wouldn't like the user to be able to set it himself. The signature algorithm should always change together with the signature. Changing a single field can lead to an inconsistent structure. This is why I didn't want to expose these fields separately in the first place.

@fotisl No, this is not a "feature request" - I am saying you incorrectly decode signature. And even if you are working correctly with this incorrect data internally in your class by your decoding function you are providing incorrect data to possible external implementations.

This depends on how you define signature. I define it as the whole field in the SignedCertificateTimestamp, and this is how it is handled within all the code.

At section 3.2 of RFC6962 where the structure of the Signed Certificate Timestamp is defined, there is no clear mention of a name of this field, just that it is digitally-signed element. However, section 4.1 which is the log client message to add a certificate to a log, refers to the whole structure as a signature, as I defined it. Furthermore, in section 3.5 another structure having a digitally-signed element is described, the Signed Tree Head. We read there that the signature for the data is the whole structure, once again similar to the way I defined it.

I consider that my interpretation of the signature is more consistent with the signature definitions in RFC6962.

@rmhrisk Can you give us your insights?

@fotisl Signature is always a block of data you could verify. If anyone else would use your block of data you described as "signature" verification would fail.

@YuryStrozhevsky I do not think your definition is correct.
I have presented at least two examples in RFC6962 where signature is not defined the way you present it.
Furthermore, if this is the case, then what you described in not an actual signature. In the ECDSA case, per RFC5753, the signature is defined as:
ECDSA-Sig-Value ::= SEQUENCE {
  r INTEGER,
  s INTEGER }
Thus, if it was just the block of data that you need to verify some other data, the sequence header should be removed too, you only need the r and s values.

I will wait for some more feedback before deciding on how to proceed with this.

@fotisl For me looks very strange that you are trying to resist to so obvious terms. If you want to prevent users from changing `signatureAlgorithm` without `hashAlgorithm` then just create a "setter/getter" pair - you are using ES6. But as I already said it is up to you how to build your own code. If you wish you could close the issue - I do not mind.

As I see it there is a philosophy issue at play here. @YuryStrozhevsky believes as a component that decodes an object it should do so in its absolute sense making it possible to build ones one validation layer on top of that decoding.

And @fotisl is trying to expose only the information necessary for the person to accomplish a more narrow task. 

I see value in both approaches, and in general, I prefer libraries that are simpler in that users are less likely to hurt themselves while running with scissors.

In this case, it seems the "scissors" would be the user performing the signature verification vs relying on the `ctutils` to do this for you.

I would say that from my perspective if I wanted to protect users, I would go even higher in the abstraction, give me a certificate and get a pass/fail on validation.

if I am going to expose any of the signature metadata I would be inclined to return it all but that really depends on the design goals of the library and who its target users are.


I am going to create getter functions and a setter to set both the algorithm and the signature in one step. I hope this will help developers and also protect them from inconsistencies.
I am marking this as a feature request, since by the current definition of signature (as defined in RFC6962 too), this is a valid signature, and all functions using it process it correctly.

Getter and setter functions have been added. I believe that this addresses all concerns expressed in this issue, can you verify that @YuryStrozhevsky ?